<div class="game-show-container">
  <div class="time">
    <div class="seconds"></div>
    <div class="milliseconds"></div>
  </div>
  <div class="start-game">
    <div class="radio-button">
      <input type="radio" name="input-medium" id="keyboard" value="keyup">
      <label for="keyboard" class="radio-label">Keyboard</label>
    </div>

    <div class="radio-button">
      <input type="radio" name="input-medium" id="mouse" value="click">
      <label for="mouse" class="radio-label">Mouse</label>
    </div>
  </div>
  <button class="restart" type="button">Restart!</button>  
</div>

<div class="set-up-description">
  <div class="close-description">
    X
  </div>
  <ul class="description-list">
    <li>Sort the give sequece in an order.</li>
    <li>E.g. "T E H K S" To "E H K S T"</li>
    <li>Sort it as fast as possible, to score more.</li>
  </ul>
</div>