<div class="game-show-container">
  <div class="time" data-timetaken="0">
    <div class="seconds"></div>
    <div class="milliseconds"></div>
  </div>
  <div class="start-game" data-clickstate="not-clicked">
    <div class="radio-button">
      <!-- <input type="radio" name="input-medium" id="keyboard" value="keyup"> -->
      <label for="keyboard" class="radio-label" data-input="keyup">Keyboard</label>
    </div>

    <div class="radio-button">
      <!-- <input type="radio" name="input-medium" id="mouse" value="click"> -->
      <label for="mouse" class="radio-label" data-input="click">Mouse</label>
    </div>
  </div>
  <div class="game-button-group">
    <button class="restart" type="button">Restart!</button>
    <button class="mode normal-mode" type="button" data-mode="normal">Normal</button>
  </div>

</div>

<div class="set-up-description">
  <div class="close-description">
    X
  </div>
  <ul class="description-list">
    <li>Sort the give sequece in an order. i.e. from A to Z and for hard mode, sort capital letters first and then small letters</li>
    <li>E.g. "T E H K S" To "E H K S T"</li>
    <li>Sort it as fast as possible, to score more.</li>
  </ul>
</div>

<div class="prompt-container">
  <input type="text" placeholder="Enter your unique identifier/gamename" class="name-input">
  <button type="button" class="submit-name">Go!</button>
</div>