<div class="game-navigation">
  <%= link_to 'Play', '/newgame', class: 'btn'%>
  <%= link_to 'Leaderboards', '/unicorns', class: 'btn'%>
  
  <div class="how-to-play-button btn">
    How to play?
  </div>

  <div class="set-up-description">

  </div>

  <div class="close-description">
    X
  </div>

  <ul class="description-list">
    <li>Sort the give sequece in an order.</li>
    <li>E.g. "T E H K S" To "E H K S T"</li>
    <li>Sort it as fast as possible, to score more.</li>
  </ul>

</div>