<%= link_to 'Play', '/newgame', class: 'btn'%>
  <div class="set-up-description">

  </div>

  <div class="close-description">
    X
  </div>

  <ul class="description-list">
    <li>Sort the give sequece in an order.</li>
    <li>E.g. "T E H K S" To "E H K S T"</li>
    <li>Sort it as fast as possible, to score more.</li>
  </ul>

