<div class="leaderboard-container">
  <h1 class="heading">Leaderboard</h1>
  <div class="leaderboard-table-heading">
      <div class="header-rank h">Rank</div>
      <div class="header-name h">Name</div>
      <div class="header-time h">Time</div>
      <div class="header-mode h">Mode</div>
  </div>
  <% count = 1%>
  <% @games.each do |game|  %>
  <div class="player-score-details">
      <div class="player-rank"><%= count%></div>
      <div class="player-name"><%= game.player_name %></div>
      <div class="player-time"><%= game.gametime %></div>
      <div class="player-mode"><%= game.mode%></div>
  </div>
  <% count = count + 1%>
  <%end%>
</div>

