<div class="game-show-container">
  <div class="start-game">
    <fieldset>
      <legend>Select input type:</legend>

      <div class="radio-button">
        <input type="radio" name="input-medium" id="keyboard" value="keyboard">
        <label for="keyboard" class="radio-lable">Keyboard</label>
      </div>

      <div class="radio-button">
        <input type="radio" name="input-medium" id="mouse" value="mouse">
        <label for="mouse" class="radio-lable">Mouse</label>
      </div>
    </fieldset>  
  </div>

  <!-- <div class= "game-body">
    <div class= "game-objective"></div>
    <div class= "game-solution"></div>
  </div> -->

</div>