<div class="game-show-container">
  <div class="time">
    <div class="seconds"></div>
    <div class="milliseconds"></div>
  </div>
  <div class="start-game">
    <fieldset>
      <legend>Select input type:</legend>

      <div class="radio-button">
        <input type="radio" name="input-medium" id="keyboard" value="keyup">
        <label for="keyboard" class="radio-label">Keyboard</label>
      </div>

      <div class="radio-button">
        <input type="radio" name="input-medium" id="mouse" value="click">
        <label for="mouse" class="radio-label">Mouse</label>
      </div>
    </fieldset>
  </div>
  <button class="restart" type="button">Restart!</button>
</div>