<div class="game-show-container">
  <div class="time-class" >
    <div class="minutes"></div>
    <div class="seconds"></div>
    <div class="milliseconds"></div>
  </div>
  
  <h1 class="game-heaing"> Welcome to sort-it!!</h1> 
  <button class="start-game">Start Game</button>
  <div class= "game-body">
    <div class= "game-objective">
    </div>
    <div class= "game-solution">
    </div>
  </div>

</div>