<div class="game-show-container">
  <h1 class="game-heading"> Welcome to sort-it!!</h1> 
  
  <div class= "game-body">
    <div class= "game-objective">
    Game objective
    </div>
    <div class= "game-solution">
    Game solution
    </div>
  </div>

</div>