<div class="game-show-container">
  <div class="start-game">
    <div class="start-game-button">Start Game</div>
    <label class="label">Mouse<input type="radio" class="mouse"></label>
    <label class="label">Keyboard<input type="radio" class="keyboard"></label>
  </div>

  <div class= "game-body">
    <div class= "game-objective"></div>
    <div class= "game-solution"></div>
  </div>

</div>