* {
   /* border: 0.1px solid var(--main-border-color);  */
   /* margin: 0.6px; */
}


:root {
  --main-logo-font-family: Permanent Marker;
  /* --main-font-family:   monospace; */
  --main-font-family: 'Inconsolata';
  --main-font-color: black;
  --main-background-color: whitesmoke;
  --main-border-color: grey;
  
  

}
.game-body {
  border: 0.3px solid grey;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  gap: 2px;
  align-items: center;
  justify-content: center;
  
  

}

.game-objective {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 10px;
  

}

.game-show-container {
  /* border: 1px solid yellow; */
  margin-top: 30px;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px; 

} 

.game-solution {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}


.game-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  margin-top: 1px;

}

.character {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 3px;
  font-size: 3rem;
  outline: none;
  padding-bottom: 13px;
  /* box-shadow: none; */
  text-align: center;
  background-color: inherit;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-weight: 700;
  background-color: lightgrey;
  transition: background-color 200ms ease;
  flex-shrink: 1;
}


.userInput {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 3px;
  font-size: 3rem;
  outline: none;
  /* padding-bottom: 13px; */
  /* box-shadow: none; */
  text-align: center;
  background-color: inherit;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-weight: 700;
  background-color: lightgrey;
  transition: background-color 200ms ease;
  caret-color: transparent;
  flex-shrink: 1;
}

 .userInput:focus {
  border-bottom: 2px solid rgb(7, 9, 9);
 } 

 .time {
  min-width: 40px;
  min-height: 15px ;
  max-width: auto;
  max-height: auto;
  border: var(--main-border-color);
  border-radius: 3px;
  background-color: inherit;
  display: none;
  color: var(--main-font-color);
  font-size: 20px ;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  transition: all ease 200ms;
  
 }



.start-game  {
  font-family:'Courier New', Courier, monospace;
  font-size: 15px;
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  /* border: 1px dotted red; */
    /* transition: transform 150ms ease-in-out; */

}
/* 
.start-game:hover{
  /* transform: scale(1.1); */
/* } */
.label {
  display: flex;
  padding: 10px;
  /* justify-content: center;
  align-content: center; */
}

fieldset {
  border: 0.4px solid var(--main-border-color);
  padding: 20px;
  border-radius: 4px;
  width: 70%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.radio-button {
  margin: 5px;
  display: flex; 
  /* border: 1px solid var(--main-border-color); */
  font-size: 2.1rem;
  letter-spacing: 0.4px;
  width: auto;
  padding: 4px;
  border-radius: 5px;
  transition: 300ms;
  justify-content: center;  
  
}
.radio-button:hover {
    /* box-shadow: 0px 0px 2px var(--main-border-color); */
    letter-spacing: 0.8px;
    font-weight: bold;
}

#keyboard, #mouse {
  display:none;
}
.radio-label {
  transition: border 200ms;
  font-family: var(--main-font-family);

}
/* .radio-label:hover {
  /* box-shadow: 0px 0px 2px black;
  border-bottom: 0.2px solid var(--main-border-color);
  border-bottom-width: 8px; */

.restart {
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 6px;
  font-size: 3rem;
  outline: none;
  /* padding-bottom: 13px; */
  /* box-shadow: none; */
  text-align: center;
  background-color: inherit;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-weight: 700;
  background-color: lightgrey;
  transition: background-color 200ms ease;
  display: none;
}

.restart:active {
  background-color: lightseagreen;
}
.restart:focus {
  font-weight: 600;
  border: 0.5px solid var(--main-border-color);
}

.player {
  border: 1px solid black;
}