

.game-body {
  border: 0.3px solid grey;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  gap: 2px;
  align-items: center;
  justify-content: center;
  
  /* background-color: #9BCF53; */

}

.game-objective {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 140px;

}
.game-show-container {
  /* border: 1px solid yellow; */
  min-height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-solution {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 140px;
}


.game-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  margin-top: 1px;

}

.character {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding: 0;
  margin: 1px;
  outline: none;
  /* box-shadow: none; */
  text-align: center;
  background-color: inherit;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.userInput {
  width: 20px;
  height: 20px;
  border: none;
  /* border-radius: 5px; */
  padding: 0;
  margin: 1px;
  outline: none;
  /* box-shadow: none; */
  text-align: center;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  caret-color: transparent;
  pointer-events: none;
  
  
  
}

 .userInput:focus {
  border-bottom: 2px solid skyblue;
 } 

 .time {
  width: 40px;
  height: 15px ;
  border: 0.1px solid black;
  border-radius: 3px;
  background-color: inherit;
  display: none;
  color: darkorchid;
  font-size: 10px ;
  justify-content: center;
  align-items: center;
 }



.start-game{
  font-family:'Courier New', Courier, monospace;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px dotted red; */
}

.label {
  display: flex;
  padding: 10px;
  /* justify-content: center;
  align-content: center; */
}

fieldset {
  border: 0.2px solid rgb(226, 14, 96);
  padding: 20px;
}

.radio-button {
  margin: 3px;
  /* border: 1px solid dseeppink; */
}

.radio-label {
  transition: border 200ms;
}
.radio-label:hover {
  /* box-shadow: 0px 0px 2px black; */
  border-bottom: 0.2px solid deeppink;
}