.grid-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* border: 0.6px solid rgb(128, 122, 122); */
  padding: 4px;
  border-radius: 4px;
  /* animation: wrong-entry 150ms ease-in-out; */

  
}

* {
  border: 1px solid black;
}

.hard-mode-row {
  /* border: 1px solid black; */
  display: flex;
  gap: 5px;
  justify-content: center;
}

.hard-mode-cell   {
  /* border: 0.5px solid black; */
  background-color: lightgrey;
  padding: 7px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  /* font-family: var(--main-font-family); */
  font-family: Inconsolata;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out, font-size 150ms ease-in-out;
  font-weight: 550;
  
}

.hard-mode-cell:hover {
  background-color: lightgreen;
  font-size: 2.2rem;
}

.mode {
  width: 260px;
  font-size: 2rem;
  font-family: var(--main-font-family);
  transition: font-weight 200ms ease-in-out;
  border: none;
  padding: 6px;
}

.mode:hover {
  font-weight: 700;
}

.normal-mode {
  background-color: lightskyblue;
  color: black;
  box-shadow: 4px 4px  darkred;
  transition: background-color 200ms ease-in-out, font-weight 150ms ease-in-out;
}

.hard-mode {
  background-color: darkred ;
  color: rgb(251, 236, 236);
  box-shadow: 4px 4px lightskyblue;
  transition: background-color 200ms ease-in-out, font-weight 150ms ease-in-out;
}

@keyframes wrong-entry {
  0% {
    background-color: red;
  }
  100% {
    background-color: darkred;
  }
}