

.main {
  
  /* margin-top: 10px; */
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  /* align-self: center; */
  align-items: center;
}
header {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  height: 69px;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-family: var(--main-logo-font-family);
  /* color: #135D66; */
  letter-spacing: 1.5px;
  color: transparent;
  text-shadow: 5px 4px indianred;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

}
div.game-navigation {
  display: flex;
  /* margin-top: 15px; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.2px solid var(--main-border-color);
  /* border-bottom:0.2px solid var(--main-border-color); */
  /* border-radius: 10px; */
  height: 25px;
  /* height: 6vh; */
  width: inherit;
  /* paddi  ng: 4px; */
  border-right: none;
}

.btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color);
  text-align: center;
  font-family: var(--main-font-family);
  width: 150px;
  cursor: pointer;
  transition: font-weight 220ms;
  font-size: 20px;
  height: inherit;
  /* padding: 4px; */
  transition: background-color 250ms ease-in-out;
  border-right: 0.2px solid var(--main-border-color);
  /* content: 'asdfjale'; */
}



.btn:hover {
  /* box-shadow:  1px 1.3px  deeppink; */
  background-color: var(--main-border-color);;
  color: whitesmoke;
  /* border-width: 0.9px; */
  /* outline: 1px solid var(--main-border-color); */
  /* outline-offset: 0.3px; */

}

.flex-direction-setup {
  flex-direction: column;

}

.close-description {
  cursor: pointer;
  background-color: var(--main-bacgroundcolor);
  border: 0.4px solid var(--main-border-color);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 8px;
  align-self: flex-end;
  justify-content: center;
  align-items: center;

}

.description-list {
  gap: 4px;
  list-style-type: circle;
  flex-direction: column;
  padding: 4px;
  font-family:  var(--main-font-family);
  /* border: 1px solid red; */
  font-size: 1rem;
  font-weight: 900;
}
.description-list, .close-description {
  display: flex;
}
.set-up-description {
  display: none;
  margin: 4px;
  flex-direction: column;
  transition: 1s;
}

/* .leaderboard-container {
  border: 1px solid red;
} */

@media all and (max-width: 500px) {
  div.game-navigation:nth-child(1), div.game-navigation:nth-child(2){
    /* display: flex; */
    margin-top: 40px;
    flex-direction: column;
    height: auto;
    border-bottom: none;
  }
  .btn {
    border-bottom: 0.4px solid var(--main-border-color);
  }
}