.main {
  /* border-radius: 10px; */
  /* border: 2px solid rgb(226, 14, 96); */
  display: flex;
  width: 100%;
  height: 70dvh;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}
header {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  height: 69px;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-family: var(--main-logo-font-family);
  color: #135D66;
  letter-spacing: 1.5px;
}

div.game-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 0.2px solid rgb(226, 14, 96); */
  /* border-radius: 10px; */
  min-height:inherit ;
  height: 6vh;
  width: 100%;
  gap: 10px;
}

.btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color);
  text-align: center;
  font-family: var(--main-font-family);
  width: 80px;
  border: 0.6px solid var(--main-border-color);
  /* border-radius: 4px; */
  height: 10px;
  cursor: pointer;
  transition: all 220ms;
  font-size: 10px;
  padding: 3px;
  
  /* transition: ease-in-out; */
}

.btn:hover {
  /* box-shadow:  1px 1.3px  deeppink; */
  /* background-color: bisque; */
  font-weight: 600;
  border-width: 0.9px;
  /* outline: 1px solid var(--main-border-color); */
  /* outline-offset: 0.3px; */

}

.flex-direction-setup {
  flex-direction: column;

}

.close-description {
  cursor: pointer;
  background-color: var(--main-bacgroundcolor);
  border: 0.4px solid var(--main-border-color);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 8px;
  align-self: flex-end;
  justify-content: center;
  align-items: center;

}

.description-list {
  gap: 4px;
  list-style-type: circle;
  flex-direction: column;
  padding: 4px;
  font-family:  var(--main-font-family);
  /* border: 1px solid red; */
  font-size: 1rem;
  font-weight: 900;

}
.description-list, .close-description {
  display: flex;
  
  
}

.set-up-description {
  /* border: 1px solid black; */
  display: none;
  margin: 4px;
  flex-direction: column;
  /* animation: fadeIn 1s linear; */
  transition: 1s;

}

